.app {
  min-height: 100vh;
  background-color: #FAFAFF;
}

.header {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAFAFF;
    font-family: "Manrope", sans-serif;
}

.header h1 {
  margin: 0;
  font-size: 2rem;
}


.cart {
  position: absolute;
  right: 40px;
  top: 10px;
  font-size: 1.25rem;
  color: #1C1C1C;
  font-weight: bold;
}

.menu-button {
    justify-self: start;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #1C1C1C;
}

