* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FAFAFF;
    color: #1C1C1C;
    font-family: "Manrope", sans-serif;

}

.app {
    display: flex;
    flex-direction: column;
    gap: 60px;
    min-height: 100vh;
    background-color: #FAFAFF;
    align-items: center;
    padding-bottom: 50px;
}

.hero {
    width: 100%; 
    background-color: #EEF0F2;
}

.menu-button {
    justify-self: start;

    background: none;
    border: none;

    font-size: 1.5rem;
    color: #1C1C1C;

    cursor: pointer;
}

.header h1 {
    justify-self: center;

    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 3px;
}

.featured-product {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 80px 60px;
}

.featured-text {
    max-width: 500px;
}

.featured-text h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.featured-text p {
    font-size: 1.1rem;
    line-height: 1.7;

    color: #555;

    margin-bottom: 30px;
}

.add-to-cart {
    padding: 14px 30px;

    background-color: #1C1C1C;
    color: white;

    border: none;

    font-size: 1rem;

    cursor: pointer;

    transition: 0.2s ease;
}

.add-to-cart:hover {
    background-color: #333;
}

.featured-image {
    flex: 1;

    display: flex;
    justify-content: center;
}

.featured-image img {
    width: 500px;
    height: auto;

    object-fit: contain;
}

.separationLine 
{
    height:2px;
    width: 82%;
    background-color : #1C1C1C
}

.productsGrid 
{
    width:                  auto;
    height:                 auto;
    display:                grid;
    justify-content:        center;
    grid-template-columns:  auto auto auto;
    gap:                    20px;
}
